# Mac OS X
.DS_Store

# Xcode

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# Carthage
Carthage/Build
ExpandableCell.xcworkspace/contents.xcworkspacedata
Pods/Manifest.lock
Pods/Target Support Files/AZExpandable/AZExpandable-dummy.m
Pods/Target Support Files/AZExpandable/AZExpandable-prefix.pch
Pods/Target Support Files/AZExpandable/AZExpandable-umbrella.h
Pods/Target Support Files/AZExpandable/AZExpandable.modulemap
Pods/Target Support Files/AZExpandable/AZExpandable.xcconfig
Pods/Target Support Files/AZExpandable/Info.plist
Pods/Target Support Files/Pods-ExpandableCell/Info.plist
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell-acknowledgements.markdown
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell-acknowledgements.plist
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell-dummy.m
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell-frameworks.sh
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell-resources.sh
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell-umbrella.h
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell.debug.xcconfig
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell.modulemap
Pods/Target Support Files/Pods-ExpandableCell/Pods-ExpandableCell.release.xcconfig
